{% extends 'index.html' %}


{% block content %}

<div class="row d-flex justify-content-center" >
    <div class="col-6">
        <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
                
        
                <h5>{{form.username.label}}</h5>
                <span>{{form.username}}</span>
        
        
                       
                
            
                
            
        
                <h5>{{form.password1.label}}</h5>
                <span >{{form.password1}}</span>
        
                <h5>{{form.password2.label}}</h5>
                <span>{{form.password2}}</span>
                 <br><br>
                <button class="btn btn-danger" type="submit">Sign up</button>
        
            </form>
        
    </div>
</div>


{% endblock content %}